<%
  results = $db.query(<<-SQL, :as => :array)
    SELECT host, created_at, latency FROM ping_stats
    WHERE created_at BETWEEN UTC_TIMESTAMP() - INTERVAL 1 DAY AND UTC_TIMESTAMP()
  SQL
%>
<!DOCTYPE html>
<html>
<head>
  <title>net-metrics</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.14-beta/nv.d3.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.14-beta/nv.d3.css" rel="stylesheet" />
  <style>
    #chart svg {
      height:600px;
    }
  </style>
</head>
<body>
  <div id="chart"><svg></svg></div>
</body>
<script>
(function() {
  var rawData = (<%= results.to_a.to_json %>).map(function(row) {
    return { host: row[0], timestamp: +new Date(row[1]), latency: row[2] };
  });

  var maxLatency = Math.max.apply(Math, rawData.map(function(row) {
    return row.latency;
  }));

  var maxTimestamp = Math.max.apply(Math, rawData.map(function(row) {
    return row.timestamp;
  }));

  var minTimestamp = Math.min.apply(Math, rawData.map(function(row) {
    return row.timestamp;
  }));

  var hosts = {};

  rawData.forEach(function(row) {
    var series = hosts[row.host];
    if(!series) {
      series = hosts[row.host] = [];
    }

    series.push({ x: row.timestamp, y: row.latency });
  });

  var d3data = Object.keys(hosts).map(function(host) {
    return { key: host, values: hosts[host] };
  });

  nv.addGraph(function() {
    var chart =
      nv.models.lineChart()
        .margin({ left: 100 })
        .useInteractiveGuideline(true)
        .transitionDuration(350)
        .showLegend(true)
        .showYAxis(true)
        .showXAxis(true);

    var timeFormat = d3.time.format("%H:%M");

    chart.xAxis
      .axisLabel("Date/Time")
      .tickFormat(function(d) {
        return timeFormat(new Date(d));
      });

    chart.yAxis
      .axisLabel("Latency (ms)")
      .tickFormat(d3.format(".02f"));

    chart.forceY([0, maxLatency]);

    d3.select("#chart svg").datum(d3data).call(chart);

    nv.utils.windowResize(function() { chart.update() });
  });
})();
</script>
</html>
